td,th{
    padding-left:10px;
    padding-right:10px;
}

th{
    font-size:14px;
    font-weight:400;
    color:rgb(163, 163, 163);
    padding-bottom:10px;
}

td{
    font-weight:500;
    font-size:15px;
    padding-top:18px;
    padding-bottom:18px;
}

thead,tr{
    border-bottom:1px solid rgb(220, 220, 220);
}

#my-items{
    height:55vh
}

.my-items-head{
    font-weight:600;
    font-size:20px
}

.searchInput svg{
    width:25px;
    left:15px;
    padding-top:5px
}

.searchInput input{
    background-color: #F9FBFF;
    border:none;outline:none;
    border-radius:20px;
    width:130px;
}

.sortInput{
    background-color: #F9FBFF;
    border-radius:5px;
}

.sortInput svg{
    width:20px;
}