<form class="w-4/12" [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
    <p style="font-size:20px; font-weight:500">Add Items Here</p>


    <div class="pt-4">
        <input
            [ngClass]="addItemForm.get('itemName')?.invalid && addItemForm.get('itemName')?.touched?'invalid-input':''"
            (blur)="addItemForm.get('itemName')?.markAsTouched" formControlName="itemName"
            style="transition: .3s;" placeholder="Item Name"
            class="border rounded-md  px-3 py-3">
        <p *ngIf="addItemForm.get('itemName')?.invalid && addItemForm.get('itemName')?.touched"
            class="invalid-message">Item name should be atlest 3 characters</p>
    </div>

    <div class="pt-4">
        <input
            [ngClass]="addItemForm.get('itemCategory')?.invalid && addItemForm.get('itemCategory')?.touched?'invalid-input':''"
            (blur)="addItemForm.get('itemCategory')?.markAsTouched" formControlName="itemCategory"
            style="transition: .3s;" placeholder="Item Category"
            class="border rounded-md  px-3 py-3">
        <p *ngIf="addItemForm.get('itemCategory')?.invalid && addItemForm.get('itemCategory')?.touched"
            class="invalid-message">Item Category should be atlest 3 characters</p>
    </div>

    <div class="pt-4">
        <input
            [ngClass]="addItemForm.get('brand')?.invalid && addItemForm.get('brand')?.touched?'invalid-input':''"
            (blur)="addItemForm.get('brand')?.markAsTouched" formControlName="brand"
            style="transition: .3s;" placeholder="Brand Name"
            class="border rounded-md  px-3 py-3">
        <p *ngIf="addItemForm.get('brand')?.invalid && addItemForm.get('brand')?.touched"
            class="invalid-message">Brand Name should be atlest 3 characters</p>
    </div>

    <div class="pt-4">
        <input type="number"
            [ngClass]="addItemForm.get('price')?.invalid && addItemForm.get('price')?.touched?'invalid-input':''"
            (blur)="addItemForm.get('itemName')?.markAsTouched" formControlName="price"
            style="transition: .3s;" placeholder="Price"
            class="border rounded-md  px-3 py-3">
        <p *ngIf="addItemForm.get('price')?.invalid && addItemForm.get('price')?.touched"
            class="invalid-message">Price should be greater than 0</p>
    </div>
    


<button type="submit" [disabled]="!addItemForm.valid" class="{{addItemForm.valid?' btn-success':'btn-grey'}} btn text-center py-2 mt-3">Add this product</button>

</form>
