<div class="bg-white p-5 overview">
    <h2 class="pb-2">Overview</h2>
    <p>1. Use My-Items menu to view pre-added items</p>
    <p>2. Use the add item button or Add Items menu to add new items</p>
    <p>3. Use edit button to open a dialog which enables you to edit existing data</p>
    <p>4. Parent-Child demo menu contains data passing between parent and child component</p>
    <p>5. Select rock, paper or scissor to view its details on child component</p>
    <p>6. Use edit to edit the name of the item which is reflected in the parent component</p>
</div>
