input{
    outline:none!important;
    border-radius: 5px;
}

.invalid-message{
    color:rgba(255, 0, 0, 0.654);
    font-size:11px;
}

.invalid-input{
    border:1px solid red!important;
}

.edit-item-head p{
    font-size:20px;
}

.edit-item-head svg{
    width:20px;
    color:white;
    background-color:Red;
    border-radius:3px;
}