<div class="top-bar  py-3 d-flex align-items-center" style="border-bottom:1px solid rgb(215, 215, 215)">
    <div class="col-2 px-5">
        <img class="logo-img" src="./../../assets/kenlogo.PNG">
    </div>
    <div class="col-10 px-5 d-flex align-items-center justify-content-between">
       
        <div class="d-flex align-items-center">
            <svg style="width:28px;color:grey" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
              </svg>          
            <input placeholder="search..." style="font-size:22px" class="ps-2">
        </div>
        <div class="d-flex align-items-center">
            <div class="me-3">
                <svg class="p-2" style="width:45px;color:#857DCF;background-color:#F7F7F7;border-radius:15px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                  </svg>
            </div>
            <div class="position-relative me-4">
                <svg class="p-2" style="width:45px;color:grey;background-color:#F7F7F7;border-radius:15px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
                  </svg>
                  <div style="width:10px;height:10px;top:7px;right:12px" class="position-absolute rounded-circle bg-danger"></div>
            </div>
            <img class="rounded-circle me-2" style="width:60px;height:60px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSktf_nNWDAaGR4bkJ8sJsyOaj33MsPKct51A&s">
    
            <div class="d-flex p-2 me-2" style="background-color: #F7F7F7; border-radius:15px">
                <div class="me-2 py-1">
                    <p style="font-weight:600;font-size:15px">Gavano</p>
                    <p style="font-weight: 300; font-size:13px;color:grey">Asst Manager</p>
                </div>
                <svg style="width:20px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                  </svg>
            </div>
            <div class="d-flex p-1" style="background-color: #F7F7F7; border-radius:6px">
                <div *ngFor="let item of createRange(3)" style="padding:2px">
                    <div  class="rounded-circle" style="width:4px; height:4px;background-color: rgb(62, 62, 62);"></div>
                </div>
            </div>
        </div>
      
    </div>
</div>
